.NF-trailer-tooltip {
    position: absolute;
    top: -5rem;
    padding: 0.6rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(24, 24, 24);
    background-color: rgb(230, 230, 230);
    border-radius: 0.3rem;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 1rem;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    display: none;
}

.trailer-button:hover .NF-trailer-tooltip {
    display: block;
}

.trailer-button {
    z-index: 999;
    min-width: 42px!important;
    border-color: #fff;
    background-color: #2a2a2a;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}